<template name="projects">
<div class="row">
	<div class="col-md-4 hidden-print">
		<div class="table-sidebar table-collapse in">
			<table class="table">
				<thead>
					<tr>
						<th>Project ID</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					{{#each projects}}
					<tr class="{{CurrentSlugActive id}} project-row" data-project-id="{{id}}">
						<td>{{id}}</td>
						<td>{{description}}</td>
					</tr>
					{{/each}}
					<tr class="project-row">
						<td><a class="btn btn-default btn-xs add-project" href="/projects/new">+</a></td>
						<td>Add a new project…</td>
					</tr>
				</tbody>
			</table>
		</div>
		<button type="button" class="btn btn-default btn-block visible-xs visible-sm" data-toggle="collapse" data-target=".table-collapse">
		<span class="table-shown">Hide</span><span class="table-collapsed">Show</span> Projects
		</button>
	</div>
	<div class="col-md-8">
	{{> project_data}}
	</div>
</div>
</template>

<template name="project_data">
{{#with activeProject}}
<div class="panel">
	<div class="panel-header">
		<h2>
			{{id}} <small class="project-description">{{description}}</small>
		{{#if HasPermission 'Projects' 'update remove'}}
			<span class="hidden-print">
				<div class="btn-group btn-group-xs">
				{{#if HasPermission 'Projects' 'update'}}
					<button class="btn btn-default update-item" data-item-id="{{_id}}">Edit</button>
				{{/if}}
				{{#if HasPermission 'Projects' 'remove'}}
					<button class="btn btn-danger remove-item" data-item-id="{{_id}}">Delete</button>
				{{/if}}
				</div>
			</span>
		{{/if}}
		</h2>
	</div>
	<div class="panel-body">
		<div class="well">
			<dl class="dl-horizontal">
				{{#if customer}}
					<dt>Customer:</dt><dd>{{customer}}</dd>
				{{/if}}
				<dt>Status</dt><dd>{{status}}</dd>
				<dt>Est. Total Pours</dt><dd>{{estimatedPourCount}}</dd>
				<dt>Date Entered</dt><dd>{{createdAt}}</dd>
				<dt>Date Completed</dt>
				<dd>
				{{#if completedAt}}
					{{completedAt}}
				{{else}}
					??/??/??
				{{/if}}
				</dd>
			</dl>

			<h4>Estimated Loads</h4>
			<dl class="dl-horizontal">
				{{#with estimatedLoads}}
				<dt>Truckloads Legal</dt><dd>{{legal}}</dd>
				<dt>Truckloads Permit</dt><dd>{{permit}}</dd>
				<dt>Truckloads Escort</dt><dd>{{escort}}</dd>
				{{/with}}
			</dl>

			<h4>Elements</h4>
			{{#each elements}}
				<dl class="dl-horizontal">
					<dt>Product Code</dt><dd>{{id}}</dd>
					<dt>Description</dt><dd>{{description}}</dd>
					<dt>Est. Total Sales</dt><dd>{{estimate.totalSales}}</dd>
					<dt>Est. Total Area (sqft)</dt><dd>{{estimate.totalSqFt}}</dd>
					{{#if actual}}
						<dt>Actual Total Sales</dt><dd>{{actual.totalSales}}</dd>
						<dt>Actual Total Area (sqft)</dt><dd>{{actual.totalSqFt}}</dd>
					{{/if}}
					<dt>Est. Number of Pours</dt><dd>{{estimatedPourCount}}</dd>
					<dt>Est. Number of Pieces</dt><dd>{{estimatedPieceCount}}</dd>
					<dt>Labor Entry Style</dt><dd>{{laborEntry}}</dd>
					<dt><a href="{{pathFor 'new_piece' id=../id element=id}}">+ Add Piece to {{id}}</a></dt><dd></dd>
				</dl>
				<hr>
			{{/each}}
		</div>
	</div>
</div>
{{/with}}
</template>

<template name="new_project">
{{#autoForm collection="Projects" id="new_project_form" type="insert"}}
<fieldset>
	{{> afQuickField name='id'}}
	{{> afQuickField name='description'}}
	{{> afQuickField name='customer'}}
	{{> afQuickField name='status'}}
	{{> afQuickField name='estimatedPourCount'}}
	{{> afQuickField name='estimatedLoads'}}
	{{> afArrayField name='elements' template="project_elements" omitFields="elements.$.id"}}
	<button type="submit" class="btn btn-primary">Submit</button>
</fieldset>
{{/autoForm}}
</template>

<template name="edit_project">
{{#autoForm collection="Projects" id="edit_project_form" type="update" doc=this}}
<fieldset>
	{{> afQuickField name='id'}}
	{{> afQuickField name='description'}}
	{{> afQuickField name='customer'}}
	{{> afQuickField name='status'}}
	{{> afQuickField name='estimatedPourCount'}}
	{{> afQuickField name='estimatedLoads'}}
	{{> afArrayField name='elements' template="project_elements" omitFields="elements.$.id"}}
	<button type="submit" class="btn btn-primary">Submit</button>
</fieldset>
{{/autoForm}}
</template>

<template name="afArrayField_project_elements">
	<div class="panel panel-default">
		<div class="panel-heading">{{afFieldLabelText name=this.atts.name}}</div>
		{{#if afFieldIsInvalid name=this.atts.name}}
		<div class="panel-body has-error">
			<span class="help-block">{{{afFieldMessage name=this.atts.name}}}</span>
		</div>
		{{/if}}
		<ul class="list-group">
			{{#afEachArrayItem name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
			<li class="list-group-item autoform-array-item">
				<div class="media">
					{{#if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}
					<button class="btn btn-primary autoform-remove-item pull-left"><span class="glyphicon glyphicon-minus"></span></button>
					{{/if}}
					<div class="media-body">
						{{> afObjectField name=this.name label=false options="auto" fields=../atts.fields omitFields=../atts.omitFields template="project_elements"}}
					</div>
				</div>
			</li>
			{{/afEachArrayItem}}
			{{#if afArrayFieldHasLessThanMaximum name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
			<li class="list-group-item">
				<button class="btn btn-primary autoform-add-item" data-autoform-field="{{this.atts.name}}" data-autoform-minCount="{{this.atts.minCount}}" data-autoform-maxCount="{{this.atts.maxCount}}"><span class="glyphicon glyphicon-plus"></span></button>
			</li>
			{{/if}}
		</ul>
	</div>
</template>

<template name="afObjectField_project_elements">
	<div class="panel panel-default">
		<div class="panel-body">
			{{#if afFieldIsInvalid name=this.atts.name}}
			<span class="help-block">{{{afFieldMessage name=this.atts.name}}}</span>
			{{/if}}
			{{> afQuickField name=elementId options=allElements}}
			{{> afQuickFields name=this.atts.name fields=this.atts.fields omitFields=this.atts.omitFields}}
		</div>
	</div>
</template>
