// $icon-font-path: "../styles/fonts/"; // Change the path to the fonts
@import 'client/styles/theme/variables';
@import 'packages/bootstrap3-sass/bootstrap';
@import 'client/styles/theme/bootswatch';

html, body {
    margin: 0;
}

div.coreslab-logo {
	background-image: url(/images/coreslab_logo.png);
	background-repeat: no-repeat;
	background-size:contain;
	background-position:center;
	@include size(192px, 40px);
	margin: 0;
	margin-top: 2px;
}

.navbar-brand {
	margin: 0;
	padding: 0px 32px 0px 16px;
}

@mixin hidden {
  display: none !important;
  visibility: hidden !important;
}

@mixin show {
	display: inline !important;
}

:not(.collapsed) {
	>.table-shown {
		@include show;
	}

	>.table-collapsed {
		@include hidden;
	}
}

.collapsed {
	>.table-shown {
		@include hidden;
	}
	>.table-collapsed {
		@include show;
	}
}

.ios-clickable-shim {
	cursor: pointer;
}

div.table-sidebar {
	table {
		table-layout: fixed;

		td {
			@include text-overflow;
		}

		th:first-of-type {
			width: 7em;
		}
	}
}

.add-project {
	padding: 0px 6px;
	width: 100%;
}

.panel-header .project-description {
	display: inline-block;
}

.circle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* IE8 */
}

.yes {
    width: 16px;
    height: 16px;
    background: limegreen;
    border: 2px solid lime;
}

.no {
    width: 16px;
    height: 16px;
    background: darkred;
    border: 2px solid firebrick;
}

@media (min-width: $screen-md-min) {
	div.table-collapse.collapse.table-sidebar {
		height: auto;
		display: block;
	}
}
