<template name="settings">
	<h1>Settings</h1>
  {{#if HasPermission 'users' 'insert update remove'}}
	<p><a href="{{pathFor 'user_settings'}}">Manage Users</a></p>
  {{/if}}
  {{#if HasPermission 'Workflows' 'insert'}}
	<p><a href="{{pathFor 'new_workflow'}}">Add Workflows</a></p>
  {{/if}}
  <p><a href="{{pathFor 'workflows_listing'}}">View Existing Workflows</a></p>
  <hr>
  <div>
    <label>My name is:
      <input name="name" type="text" class="form-control" value="{{currentUser.profile.name}}">
    </label>
    <br>
    <button id="changeName" class="btn btn-primary btn-xs">Change My Name</button>
  </div>
  <p><em><small>This app uses <a href="http://en.gravatar.com/support/">Gravatar</a> to manage your profile picture. Click the link for more info.</small></em></p>
</template>
