<template name="user_settings">
<h2>Users:</h2>
<ul class="list-group">
{{#each this}}
	<li class="list-group-item">
      {{#each emails}}
        <div class="user-email-settings">
          <button class="btn btn-xs btn-default user-verified-indicator {{#if verified}}verified{{/if}}" title="Click to {{verificationAction verified}} this email address." data-email="{{address}}">
            <span class="verification-button-content">{{#if verified}}Disable{{else}}Enable{{/if}}</span>
          </button>
          <div class="circle {{#if verified}}yes{{else}}no{{/if}}"></div>
          {{address}}
        </div>
      {{/each}}
      <div class="btn-group btn-group-xs user-management-links">
        <a class="btn btn-default" href="{{pathFor 'user_authorization_settings' id=_id}}">Authorization</a>
        <a class="btn btn-default" href="{{pathFor 'user_workflow_settings' id=_id}}">Workflows</a>
      </div>
	</li>
{{/each}}
</ul>
</template>
