<template name="user_settings">
<h2>
  Users:
{{#if HasPermission 'users' 'insert'}}
  <a class="btn btn-primary pull-right" href="{{pathFor 'new_user'}}"><span class="glyphicon glyphicon-plus"></span></a>
{{/if}}
</h2>
<ul class="list-group">
{{#each this}}
	<li class="list-group-item">
  {{#if IsSuper _id}}
    <span class="label label-primary pull-right">Admin</span>
  {{/if}}
    <p class="lead">
      <img src="{{GravatarUrl this}}" class="img-circle">
      <strong>{{username}}</strong>
      <span class="profile-name">{{profile.name}}</span>
    </p>
      {{#each emails}}
        <div class="user-email-settings">
        {{#if HasPermission 'users' 'update'}}
          <button class="btn btn-xs btn-default user-verified-indicator {{#if verified}}verified{{/if}}" title="Click to {{verificationAction verified}} this email address." data-email="{{address}}">
            <span class="verification-button-content">{{#if verified}}Disable{{else}}Enable{{/if}}</span>
          </button>
        {{/if}}
          <div class="circle {{#if verified}}yes{{else}}no{{/if}}"></div>
          {{address}}
        </div>
      {{/each}}
    {{#if HasPermission 'users' 'update'}}
      <div class="btn-group btn-group-xs user-management-links">
        {{#if HasPermission "users" "remove"}}
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Admin <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a class="remove-user" data-user-id="{{_id}}">Remove User</a></li>
        {{#if IsSuper}}
          <li class="divider"></li>
          <li>
            <a class="toggle-admin-privileges" data-user-id="{{_id}}">
              {{#if IsSuper _id}}Remove{{else}}Add{{/if}}
              Admin Privileges
            </a>
          </li>
        {{/if}}
        </ul>
        {{/if}}
        <a class="btn btn-default" href="{{pathFor 'user_authorization_settings' id=_id}}">Authorization</a>
        <a class="btn btn-default" href="{{pathFor 'user_workflow_settings' id=_id}}">Workflows</a>
      </div>
    {{/if}}
	</li>
{{/each}}
</ul>
</template>

<template name='new_user'>
{{> quickForm schema=newUserSchema id="new_user_form" type="method" meteormethod="adminCreateUser"}}
</template>
