<template name="workflows">
<ul class="nav nav-tabs nav-justified">
{{#each workflows}}
{{> workflow_tab}}
{{/each}}
</ul>
<div class="tab-pane">
{{#with activeWorkflow}}
{{> workflow}}
{{/with}}
</div>
</template>

<template name="workflow_tab">
<li class="{{CurrentSlugActive slug}}"><a href="{{SlugRoute '/workflows' slug}}">{{name}}</a></li>
</template>

<template name="workflow">
{{#if actionLinks}}
<div class="well">
	<div class="panel-body">
		<div class="btn-group-vertical">
		{{#each actionLinks}}
		{{> action_link}}
		{{/each}}
		</div>
	</div>
</div>
{{else}}
<div class="jumbotron">
    <h1>Coming Soon...</h1>
    <p>This page is currently under development.</p>
</div>
{{/if}}
</template>

<template name="action_link">
<a href="{{link}}" class="btn btn-default">{{button_label}}</a>
</template>
