<template name="ItemListing">
<h1>{{title this}}</h1>
<table class="table">
  <thead>
    <tr>
    {{#each fields this}}
      <th>{{labelFor this ..}}</th>
    {{/each}}
    {{#if HasPermission collection 'update remove'}}
    <th class="hidden-print"></th>
    {{/if}}
    </tr>
  </thead>
  <tbody>
  {{#each cursor}}
    <tr>
    {{#each fields ..}}
      <td>
      {{#if isTextual this ..}}{{dataFor this ..}}{{/if}}

      {{#if isBoolean this ..}}
        <div class="hidden-print circle {{#if dataFor this ..}}yes{{else}}no{{/if}}"></div>
        <span class="visible-print">{{#if dataFor this ..}}Yes{{else}}No{{/if}}</span>
      {{/if}}

      {{#if isArray this ..}}{{countOf this ..}}{{/if}}

      {{#if isObject this ..}}
        {{> ItemListing_object objectKey=this ctx=../.. rootObject=..}}
      {{/if}}

      {{#if isNully this ..}}
        <div class="circle neutral"></div>
      {{/if}}
      </td>
    {{/each}}

    {{#if HasPermission ../collection 'update remove'}}
    <td class="hidden-print">
      <div class="btn-group btn-group-xs">
      {{#if HasPermission ../collection 'update'}}
        <button class="btn btn-default update-item" data-item-id="{{_id}}">Edit</button>
      {{/if}}
      {{#if HasPermission ../collection 'remove'}}
        <button class="btn btn-danger remove-item" data-item-id="{{_id}}">Delete</button>
      {{/if}}
      </div>
    </td>
    {{/if}}
    </tr>
  {{/each}}
  </tbody>
</table>
</template>

<template name="ItemListing_object">
{{#each keysFor objectKey ctx}}
{{labelFor this ..}}: {{dataFor this ../rootObject ..}}<br>
{{/each}}
</template>
